<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="./assets/style.css" />
  <script src="../assets/vendor/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script src="../assets/vendor/bootstrap.min.js"></script>
  <script src="../assets/vendor/popper.min.js"></script>

  <title>Ngecilin</title>
</head>

<body>
  <div id="ngecilin-wrapper"></div>
  <footer></footer>
</body>
<script src="./index.js"></script>

</html>