<div class="row mb-3">
  <div class="col-12 center">
    <h1>
      <img class="mb-2" src="/assets/icons/icn-48.png" title="Ngecilin" alt="Ngecilin"><br>
      <div>Ngecilin Extension Options</div>
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-3">Shortener provide:</div>
  <div class="col-md-8 form-group">
    <select class="custom-select custom-select-sm">
      <option value="tiny-url">TinyURL</option>
      <option value="bit-ly">BitLy</option>
      <option value="short-io">Short.io</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3">API Key:</div>
  <div class="col-md-8 form-group">
    <textarea class="form-control" name="" id="" cols="50" rows="5"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-sm btn-primary" type="submit">
      Save
    </button>
    <button class="btn btn-sm btn-secondary ml-2" type="button">
      Reset
    </button>
  </div>
</div>