<div id="form">
  <input name="url" type="text">
  <input name="alias" placeholder="alias (optional)" type="text" {{ isDisabled }}>
  <button>shorten</button>
</div>
<div id="shorten">
  {{#if shortenurl}}
  {{> shorten shortenurl=shortenurl}}
  {{/if}}
</div>
